body {
    font-family: "Sawarabi Mincho";
}

header {
    /* background-color: #232323; */
    background-color: #293b68;

}

.topmenu {
    color: white;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topmenu a{
    display: inline-block;
    padding: 20px 10px;
    font-size: 18px;
}

.topmenu a:nth-child(1) {
    font-size: 22px;
    font-weight: 400;
}